body,html {
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow: scroll;
	margin:0;
	padding:0;
	height:100%;
	background: #1b1b1b url(http://int64ago-blog.qiniudn.com/backgroud.jpg) repeat fixed 0 0;
}
h1 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
h3,h4 {
  color: #d2d2d2;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
h1 .view_chrome {
  display: block;
  font-size:  14px;
  line-height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius:0px;
  background-color: #AAA;
}
h1 .view_chrome:hover {
  background-color: #f5f5f5;
}

.col-md-12.no-padding {
    padding-left:0;
    padding-right:0;
}
.info {
  position: relative;
    height: 100%;
}
tr .progress-bar {
    min-height: 20px;
    float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
    position: absolute;
    left: 24px;
    top: 0;
}
.status {
  position: absolute;
  width: 100%;
  top:0;
  left: 24px;
}
.tip {
  padding-left: 30px;
}
.tip p {
  line-height: 1;
}
#container {
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  cursor: default;
}
#container:hover,#container:active  {
  background-color:#fff;
  border-color: #dcdcdc;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
  line-height: 30px;
  height: 30px;
  margin:20px 0 0 0;
}
#success div {
    padding-left: 24px;
}
#container a {
  width: 100%;
  min-width: 145px;
  border-radius: 0px;
}

button {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
td .Wrapper {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
td .Wrapper .infoWrapper{
  width:50%;
  height:100px;
  margin-left: 10px;
  text-align: left;
  line-height: 25px;
}
td .Wrapper .infoWrapper a:first-child{
  margin-right: 10px;
}
td .Wrapper.default {
  margin-top: 20px;
  text-align: left;
}
td .Wrapper.default img{
  width:100px;
  height:100px;
}
td .imgWrapper {
  position: relative;
  width:100px;
  height: 100px;
}
td .imgWrapper .linkWrapper {
    position: absolute;
    left: 15px;
    top: 0;
    width:100px;
    height: 100px;
    cursor: pointer;
}
td .imgWrapper .linkWrapper a{
    line-height: 50px;

}
table td .hash {
    margin-bottom: 20px;
}
pre  {
    margin-top: 20px;
}

.container .modal-dialog {
    width: 45%;
}
.container .modal-dialog .modal-content {
     max-height: 90%;
}
.container .modal-dialog  .modal-body img{
    max-width: 95%;
    max-height: 70%;
}
.container .modal-body-footer , .container .modal-body-footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .modal-dialog .modal-body-footer  {
  margin-top: 0px;
}
.container .modal-dialog .modal-body-footer span {
  margin-right: 20px;
}
.container .modal-dialog .modal-body-footer .text-warning,.container .modal-dialog .modal-footer span ,.container .modal-dialog .modal-footer a{
  font-size: 12px;
}
.body .btn-default {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default:hover,.body .btn-default:active,.body .btn-default:focus ,.no-padding button:hover,.no-padding button:active,.no-padding button:focus{
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
    -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

a {
    cursor: pointer;
}
.modal-footer {
	position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
	opacity:0.9;
	color: #C0C0C0;
}
.title-logo{
	color:#FF6347;
	text-shadow:2px 2px 2px #FFFFFF;
}

#pickfiles.btn-lg {
	padding: 20px 16px;
}
#fsUploadProgress{
	background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;
	filter:Alpha(opacity=80); background:#fff;}
}