<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Get Link! 图片外链</title>
	<link href="favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="./static/main.css">
	<link rel="stylesheet" href="./static/js/highlight/highlight.css">
	<!--[if lt IE 9]>
      <script src="js/Respond-1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="domain" style="display:none;">{{domain}}</div>
<div class="container">
	<div class="text-left col-md-12 wrapper">
		<h1 class="text-left col-md-12 ">
			<b class="title-logo">Get Link!</b> <span><small>轻松生成图片外链</small></span>
            <a class="btn btn-default btn-lg view_chrome" target='_blank' href='https://chrome.google.com/webstore/detail/get-link/fmlfbdbgfhlppienpoodlglaecilpgml'>
				<i class="glyphicon glyphicon-hand-right"></i>
				结合Chrome扩展更方便
			</a>
		</h1>
    </div>
    <div class="body">
        <div class="col-md-12">
            <div id="container">
                <a class="btn btn-primary btn-lg " id="pickfiles" href="#" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                </a>
            </div>
        </div>

        <div style="display:none" id="success" class="col-md-12">
            <div class="alert-success">
                上传完成
            </div>
        </div>
        <div class="col-md-12 ">
            <table class="table table-striped table-hover text-left"   style="margin-top:40px;display:none">
                <thead>
                  <tr style="color:#6A6A6A">
                    <th class="col-md-4">文件信息</th>
                    <th class="col-md-2">大小</th>
                    <th class="col-md-6">外链</th>
                  </tr>
                </thead>
                <tbody id="fsUploadProgress">
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade body" id="myModal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">选择合适样式</h4>
          </div>
          <div class="modal-body">
            <div class="modal-body-wrapper text-center">
                <a href="" target="_blank" >
                    <img src="" alt="" data-key="" data-h="">
                </a>
            </div>
            <div class="modal-body-footer">
                 <div class="imageView2">
                    <span>缩略控制：</span>
                    <a href="#" data-imageview="large" class="btn btn-default disabled">
                        大缩略图
                    </a>
                    <a href="#" data-imageview="middle" class="btn btn-default">
                        中缩略图
                    </a>
                    <a href="#" data-imageview="small" class="btn btn-default">
                        小缩略图
                    </a>
                </div>
                <div class="imageMogr2">
                    <span>高级控制：</span>
                    <a href="#" data-imagemogr="left" class="btn btn-default no-disable-click" >
                        逆时针
                    </a>
                    <a href="#" data-imagemogr="right" class="btn btn-default no-disable-click">
                        顺时针
                    </a>
                    <a href="#" data-imagemogr="no-rotate" class="btn btn-default">
                        无旋转
                    </a>
                </div>
				<div align='right'>
				<button id='select-ok' type="button" class='btn btn-primary' data-dismiss="modal" aria-hidden="true">确定</button>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">提示</h4>
		  </div>
		  <div class="modal-body">
			<h1>还在开发中……</h1>
		  </div>
		</div>
	  </div>
	</div>

</div>

<div class="modal-footer">
	<span class="footer-center">
	基于<a href="http://int64ago.sinaapp.com/" target="_blank">程序猿__int64Ago</a> <i class="glyphicon glyphicon-heart"></i> 源码改编；由<a href="http://blog.saymagic.cn">saymagic</a>构建镜像
	</span>
	</br>
	<span class="footer-center">
	由<a href="https://portal.qiniu.com/signup?code=3lcny0wg8l4k2" target="_blank">Qiniu</a>提供存储空间，由<a href="https://console.alauda.cn/ap/register?reference_code=hkzh24" target="_blank">灵雀云</a>提供Docker运行环境
	</span>
 </div>


<script type="text/javascript" src="./static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./static/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="./static/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="./static/js/ui.js"></script>
<script type="text/javascript" src="./static/js/qiniu.js"></script>
<script type="text/javascript" src="./static/js/highlight/highlight.js"></script>
<script type="text/javascript" src="./static/js/main.js"></script>
<script type="text/javascript" src="./static/js/jquery.zclip.min.js"></script> 
</body>
</html>
